.pclass{
    background-color: blue;
}

 body {
    background-image: url("OIP.webp");
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

 }
.container {
display: grid;
grid-template-columns: auto auto auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr  2fr 1fr;
}
